<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


<title>NONDESCRIPT</title>
</head>
<body>

    <h1>Text, analyzed</h1>
    <p>{{ origsim }}</p>
    <p><strong>Your writing style analysis:</strong><br/>
    {% for o in output %} 
    <span style="margin:5px;display:block">
    {{ o }}
    </span>
    {% endfor %}
     </p> 
    
    <form action="#" method="POST">

  <textarea name="corpus" style="display:none;">
  {{ corpus }} 
  </textarea>
    <div id="original" style="display:none;">
{{ repeatdoc }}
  </div>

<h2>Now, let's anonymize your message.</h2>


<p><strong>Try to mask your writing (suggestions included):</strong></p>
 
             <textarea name="message" style="width:90%;height:500px;background-color:white">
             {{ anondoc }}
</textarea></div>

<center><input type="submit" value="Try again" style="margin: 20px auto;clear:both"></center>
    </form>

</body>
</html>