<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<style type="text/css">
body {background:magenta}
</style>

<title>NONDESCRIPT</title>
</head>
<body>

    <h1>Anonymize your message</h1>
<!--<div style="float:left;width:45%;">

    <h2>Paste in at least 7,000 words of your writing.</h2>
        <p><strong>Original document:</strong><br/>
    {{ repeatdoc }}
    </p>
<div style="float:right;width:45%;">

             <textarea name="corpus" style="width:90%;height:400px;background-color:white">
             {{ anondoc }}
</textarea></div>-->



</body>
</html>