<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


<title>NONDESCRIPT</title>
</head>
<body style="background:tomato">

<h1>Analysis of your writing</h1>

    <p style="width:100%;"><strong>Compared to 15 random authors' documents in our background corpus, was your message still classified as yours?</strong><br/>
    {% for c in classifystats %} 
    <span style="margin:5px;display:block">
    {{ c }}
    </span>
    {% endfor %}
     </p> 
     
    
    <p style="width:45%;float:left"><strong>Analysis of your writing sample and message</strong><br/>
    <em>Low similarity score: 0.4. High similarity score: 1.0.</em><br/>
    {% for c in comparestats %} 
    <span style="margin:5px;display:block">
    {{ c }}
    </span>
    {% endfor %}
     </p> 
    
    <p style="width:45%;float:right"><strong>Analysis of your overall writing style</strong><br/>
    {% for o in compareoverall %} 
    <span style="margin:5px;display:block">
    {{ o }}
    </span>
    {% endfor %}
     </p> 
    
    <form action="#" method="POST" style="clear:both;min-height:600px;">

  <textarea name="corpus" style="display:none;">
  {{ corpus }} 
  </textarea>
    <div id="original" style="display:none;">
{{ repeatdoc }}
  </div>

<h2>Try again?</h2>
 
             <textarea name="message" style="float:left;width:55%;height:500px;background-color:white">
             {{ anondoc }}
</textarea>
<div style="float:right;width:40%;">
<p><strong>Is your similarity score above 0.7? Try to mask your writing by using different words. Suggestions for word choices are in parentheses to the left. 
</strong></p>
<p>More suggestions:</p>
<ul>
<li>Try to <strong>increase</strong> sentence length. Your message's sentences are xx.xx% longer than in your writing sample, and xx.xx% the average sentence.</li>
<li>Try to <strong>increase or decrease</strong> word length. Your words are about the same length as in your writing sample. Choose longer or shorter words.</li>
</ul>
</div>

</div>

<center><input type="submit" value="Try again" style="margin: 20px auto;clear:both"></center>
    </form>

<p>This analysis only considers the top 10,000 words used in English, as determined by the Google N-grams team. Extremely rare words and multi-word expressions are not considered.</p>

</body>
</html>