<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


<title>NONDESCRIPT</title>
</head>
<body>

    <h1>Text, analyzed</h1>
    <p><strong>Your writing style analysis:</strong><br/>
    {% for o in output %} 
    <span style="margin:5px;display:block">
    {{ o }}
    </span>
    {% endfor %}
     </p> 
    
    <form>

  <div style="display:none;">
  {{ corpus }} 
  </div>

<h2>Now, let's anonymize your message.</h2>
<p style="float:left;width:45%;">
        <strong>Original document:</strong><br/>
        <em>{{ origsim }}</em> <br/>
    {{ repeatdoc }}
    </p>
<div style="float:right;width:45%;">
<p><strong>Suggested anonymization:</strong><br/>
 <em>{{ anonsim }}</em> <br/>
 
             <textarea name="corpus" style="width:90%;height:900px;background-color:white">
             
             {{ anondoc }}
</textarea></div>

<center><input type="submit" name="my-form" value="See results" style="margin: 20px auto;clear:both"></center>
    </form>

</body>
</html>