**/.DS_Store
*.pyc
allocate-check.py
allocate-data.py
BAC_industry_labels_train-lists.py
BAC_industry_labels.txt
blogorig_4authors/
blog_train-test/
blogs_docs_all.txt
blogs_docs_dev.txt
blogs_docs_devtest.txt
blogs_docs_test.txt
blogs_docs_train.txt
blogtest_labels.txt
blogtest_mnb.py
blogtest_output_2016-03-02_00-08-09.csv
blogtest_simple.txt
blogtest.txt
blogtest/
blogtestBIGRAMS_output_2016-03-02_00-12-52.csv
blogtrain_all-counts_2.csv
blogtrain_counts_2.csv
blogtrain_freqs_2.csv
blogtrain_labels.txt
blogtrain_mnb.py
blogtrain_sentlen_2.csv
blogtrain_simple.txt
blogtrain_wordlen_2.csv
blogtrain.txt
blogtrain/
classifier*
cosinesim.pyc
dev_labels.txt
devtest_labels.txt
document_clustering_k.py
features_experimentation/
features_all-in-one_km.py
features_all-in-one.py
features_new.py
features_other-features.py
features_other.py
flasksite/*.pyc
flasksite/test_results/
train_above280kbytes.txt
devtest_over280kbytes.txt
homework1_B_weighted.py
moveblogs.sh
nondescript_factory_results_10.txt
nondescript_factory_results_10a.txt
nondescript.pyc
preds_all-in-one.txt
preds.txt
test_labels.txt
top10000_A-Z.txt
train_100_data/
train_1000_data/
train_by-industry_data/
train_data/train_counts_.csv
train_data/train_freqs_smoothed.csv
train_data/train_freqs.csv
train_data/train_sentlen.csv
train_data/train_wordlen.csv
train_split_labels.txt
train70_all-counts_2.csv
train70_all-freqs_2_smoothed_avg_2col.csv
train70_all-freqs_labeled.csv
train70_all-freqs.csv
train70_data/
train70_freqs_labeled.csv
train70_freqs.csv
train70_labels.txt
train70_sentlen.txt
train70_wordlen.txt
train70long_all-counts_2.csv
train70long_all-freqs_2_smoothed_avg_2col.csv
train70long_all-freqs_2_smoothed_avg.csv
train70long_counts_2.csv
train70long_freqs_2_smoothed.csv
train70long_freqs_2.csv
train70long_sentlen_2.csv
train70long_wordlen_2.csv
train70split_data/
uniquefeatures.pyc
uniquefeatures1k.py
uniquefeatures1k.pyc
