<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

<title>NONDESCRIPT</title>
</head>
<body style="background:cornflowerblue">

    <h1><a href="/" style="color:#fff;border:0;">NONDESCRIPT</a></h1>
    <p style="line-height: 1.4em">
    This web app compares your writing sample and a message you want to anonymize to 5 random authors in our background corpus. It will tell you whether your message is more similar to your writing sample or to another author's writing, based solely on how frequently you use common words. (<a href="about">Read more about how this is done.</a>) This app lets you keep revising your message until you're satisfied it can't be attributed to you based on word choices. <strong>Can you change your message enough to anonymize it?</strong>
    </p>
    <form action="." method="POST">
<div style="float:left;width:48%;">

    <h2>Paste in a writing sample.</h2>
    <div style="margin:0 0 5px 0;height:100px;font-weight:600;"><p>Works best with 7,000&ndash;20,000 words. This sample should be in the same genre of writing as the message you'll use at the right, e.g., scientific writing or casual emails.</p></div>
             <textarea name="corpus" style="width:90%;height:200px;background-color:white;margin-bottom:15px;"></textarea></div>

<div style="float:right;width:48%;">
<h2>Paste in a message.</h2>
    <div style="margin:0 0 5px 0;height:100px;font-weight:600;"><p>This is the message you would like to anonymize. You will have the chance to keep revising this message.</p></div>
<input type="radio" id="tab-1" name="whichmessage" value="choosesuggestmessage" style="display:none" checked>
         <textarea name="suggestmessage" style="width:90%;height:200px;background-color:white;margin-bottom:15px;"></textarea></div>
 
  <textarea name="repeatdoc" style="display:none;">
 </textarea>
 <textarea name="anonmessage" style="display:none;">
 </textarea>
<br/> <br/>
        <center><input type="submit" name="my-form2" value="Submit (takes a minute)" style="margin: 20px auto;clear:both"></center>
    </form>
    </div>
    <p><a href="about">About Nondescript&nbsp;&raquo;</a></p>
</body>
</html>