<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


<title>NONDESCRIPT 2</title>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <!--<script src="{{ url_for('static',filename='easyeditform.js') }}"></script>-->


<script> 

//uses jQuery to display changeable text options from Nondescript T1
//text format: words must be split with __ (two underscores)
//and word options must be comma-separated within double square brackets [[like,this]]
//altogether these are a string

$(document).ready(function() {
  console.log('javascript connected!');

  //function formatText(submittedText) {



    const $textDisplay = $('#textdisplay');
    
    const $stopWords = ["I","a","in","the"]; //sample stopwords for future feature 

    let $separated = "{{ suggestdoc }}"; //pre-formatted with double-underscores and curly brax
    let $theText = $separated.split('__'); //split on double underscore

    //console.log($theText);
    // $theText looks like this:
    // "i", "take", "all", "of", "my", "[[tasks,project,task,labor,job,chore]]", "in", "my", "[[daily,day-by-day,day-after-day,casual,everyday]]", ...



    let $wordNum = 0;

    $theText.forEach(function(word) { //for each item in split string
      $wordNum++;
      let $wordId = "word" + $wordNum;
      if (word.slice(0,2) === '@@') { //if it is a wordset option in top 1k words
        let $wordSet = word.slice(2, word.length - 2);
        let $newWord = $wordSet.split(',');
        let $chosenWord = $newWord[0] + ' '; //initialize
        console.log($newWord[0]);

        let $para = $('<span class="itemflag"></span>');

        $para.attr("id",$wordId);
        $para.append($('<span class="itemoriginal"></span>').text($newWord[0]));
        let $paraList = $('<ul></ul>');
        $newWord.forEach(function(wordoption) {
            let option = '<li>' + wordoption + '</li>';
            $paraList.append(option);
          })
        //console.log($paraList); //innerHTML is <li>intended</li><li>mean</li><li>think</li><li>destine</li><li>designate</li><li>specify</li><li>signify</li>
        let $suggestionContainer = $('<span class="itemsuggestion"></span>');
        $suggestionContainer.append($paraList);
        $para.append($suggestionContainer);
        
        $textDisplay.append($para); //add menus to revision area

      } else if (word.slice(0,2) === '[[') { //if it is a wordset option 
        let $wordSet = word.slice(2, word.length - 2);
        let $newWord = $wordSet.split(',');
        let $chosenWord = $newWord[0] + ' '; //initialize

        let $para = $('<span class="itemhighlight"></span>');

        $para.attr("id",$wordId);
        $para.append($('<span class="itemoriginal"></span>').text($newWord[0]));
        let $paraList = $('<ul></ul>');
        $newWord.forEach(function(wordoption) {
            let option = '<li>' + wordoption + '</li>';
            $paraList.append(option);
          })
        let $suggestionContainer = $('<span class="itemsuggestion"></span>');
        $suggestionContainer.append($paraList);
        $para.append($suggestionContainer);
        
        $textDisplay.append($para); //add menus to revision area

      }
      else {

        let $newWord = word + ' ';
        $textDisplay.append($newWord);

      };
    })

    // end formatting raw text

    // begin making formatted text clickable w/r/t suggestions pane

    
  const $message = $('#textdisplay');
  const $suggestions = $('#textdisplaysuggestions');
  const $item = $('.itemhighlight, .itemflag');
  const $itemSuggestion = $('.itemsuggestion');
  const $itemInMessage = $('#message .itemhighlight');

  // when clicking a word with synonyms, the syn choices appear in the small
  // div next to the textdisplay div
  $item.on('click', function(event) {

      event.preventDefault();
      //console.log(this.innerHTML);

      let $thisItemOrig = $(this).find('.itemoriginal')[0];
      
      $suggestions.empty();
      $suggestions.append(this.innerHTML);

      // below must be nested because visible suggestions don't appear
      // until the highlighted item is clicked, so there won't be anything
      // for the function to work on
    let $itemSuggestionSingle = $('.itemsuggestion ul li');

    $itemSuggestionSingle.on('click', function(event) {
      let $newItem = this.innerHTML;
      $thisItemOrig.replaceWith($newItem); 
      $suggestions.empty();
    })
    
    $(this).removeClass('itemhighlight');
    $(this).addClass('itemfinished');
    // item remains clickable even without class



    });

  const $suggestMessage = $('#suggestmessagebox');
  const $luckyMessage = $('#luckymessagebox');
  const $origMessage = $('#origmessagebox');
  const $submitButton = $('#submitButton'); //form submit button


  $submitButton.on('click', function(event) {
    //make contents of #suggestmessage text input box equal to current contents of #textdisplay editable div
    
    //event.preventDefault(); //take this off to reinstate submit
    let $textDisplayCurrentHTML = $('#textdisplay').html(); 
    let $itemSuggestionSingle = $('.itemsuggestion ul li');
    $itemSuggestionSingle.replaceWith(' '); //take out all suggestions so they are not included in re-submitted text; chosen words remain

    let $textDisplayCurrentText = $('#textdisplay').text(); 
    let $luckyDisplayCurrentText = $('#luckydisplay').text(); 
    let $origDisplayCurrentText = $('#origdisplay').text(); 
    $suggestMessage.val($textDisplayCurrentText); 
    $luckyMessage.val($luckyDisplayCurrentText);
    $origMessage.val($origDisplayCurrentText);
  })

  });

  

</script>

  <style type="text/css">
    .itemsuggestion {display:none;}
    .itemhighlight {border-bottom:2px solid darkblue;white-space:pre;}
    .itemhighlight:after, .itemfinished:after, .itemflag:after { content: " "; }
    .itemflag {border-bottom:2px solid red;white-space:pre;}
    .itemfinished {border-bottom:2px solid silver;white-space:pre;}
    #textdisplaysuggestions .itemsuggestion {display:block;cursor:pointer;}

    #textdisplay, #luckydisplay, #origdisplay {float:left;width:68%;height:360px;overflow:auto;background-color:white;border:1px solid gray;line-height:2em;padding:5px;}
    #textdisplaysuggestionscontainer {float:right;width:27%;}
    #textdisplaysuggestions {background-color:white;min-height:150px;border:1px solid gray;padding:5px;}
  </style>

</head>
<body style="background:tomato">

    <h1><a href="/" style="color:#fff;border:0;">NONDESCRIPT</a></h1>

<div style="background:#fff">
    <p style="width:100%;text-align:center"><span style="font-weight:700;font-size:1.5em;">Results</span><br/>Compared to 5 random authors' documents in our background corpus, was your message still classified as yours?<br/><strong>
    {% for c in classifystats %} 
    <span style="margin:5px;display:block">
    {{ c }}
    </span>
    {% endfor %}</strong>
     </p> 
     </div>
    
    <p style="width:45%;float:left;font-size:0.7em;"><strong>Analysis of your writing sample and message</strong><br/>
    <em>Low similarity score: 0.4. High similarity score: 1.0.</em><br/>
    {% for c in comparestats %} 
    <span style="margin:5px;display:block">
    {{ c }}
    </span>
    {% endfor %}
     </p> 
    
    <p style="width:45%;float:right;font-size:0.7em;"><strong>Analysis of your overall writing style</strong><br/>
    {% for o in compareoverall %} 
    <span style="margin:5px;display:block">
    {{ o }}
    </span>
    {% endfor %}
     </p> 
    
    <form action="#" method="POST" style="clear:both;min-height:600px;">

  <textarea name="corpus" style="display:none;">
  {{ corpus }} 
  </textarea>
    <textarea id="repeatdoc" style="display:none;">
{{ repeatdoc }}
  </textarea>
  
<h2>Try again?</h2>

<div class="tabs">
    
   <div class="tab">
       <input type="radio" id="tab-1" name="whichmessage" value="choosesuggestmessage" checked>
       <label for="tab-1">Revise manually</label>
       
       <div class="content">
       <p style="margin:0">Suggestions for synonyms provided. For the purposes of this app, all text is changed to lowercase. <span class="itemflag">Red underline</span>means these words are used to determine authorship, so you should prioritize changing these to a suggested synonym or a word(s) of your own choosing. <span class="itemhighlight">Blue underlines</span>are not used to determine authorship, but they still have synonym suggestions.</p>
            <div id="textdisplay" contenteditable="true" spellcheck="false" name="suggestmessageraw">
              
            </div>

            <div id="textdisplaysuggestionscontainer">
              <div id="advice">
                <h4>Overall suggestions for you</h4>
                {% for a in advice %} 
                <span style="margin:5px 0;display:block">
                {{ a }}
                </span>
                {% endfor %}
              <h4>Word choice changes</h4>
              </div>
              <div id="textdisplaysuggestions">
                Click an underlined word to choose from synonym replacements.
              </div>

            </div>

            <textarea id="suggestmessagebox" name="suggestmessage" style="display: none"></textarea>
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="whichmessage" value="chooseluckymessage">
       <label for="tab-2">I'm feeling fortuitous</label>
       
       <div class="content">
       <p style="margin:0">Synonyms chosen at random, denoted by capitalization. (Part of speech, tense, and plurality not considered.)</p>
<!--            <textarea name="luckymessage" style="float:left;width:97%;height:400px;background-color:white">
             {{ luckydoc }}
          </textarea> -->
          <div id="luckydisplay" contenteditable="true" spellcheck="false" name="luckymessageraw">
              {{ luckydoc }}
            </div>
          <textarea id="luckymessagebox" name="luckymessage" style="display: none"></textarea>

       </div> 
       </div>
       <div class="tab">
       <input type="radio" id="tab-3" name="whichmessage" value="chooseorigmessage">
       <label for="tab-3">Message as submitted</label>
       
       <div class="content">
       <p style="margin:0">This is the message you just submitted. If you re-submit the message
       below, Nondescript will compare it against different authors than before.</p>
<!--            <textarea name="origmessage" style="float:left;width:97%;height:400px;background-color:white">{{ origdoc }}</textarea> -->

<div id="origdisplay" contenteditable="true" spellcheck="false" name="origmessageraw">
              {{ origdoc }}
            </div>
          <textarea id="origmessagebox" name="origmessage" style="display: none"></textarea>

       </div> 
   </div>

    
</div>
<center>    <input id="submitButton" type="submit" value="Submit (takes a minute)"></center>
</form>

 
             <!--<textarea name="message" style="float:left;width:55%;height:500px;background-color:white">
             {{ suggestdoc }}
</textarea>

<textarea name="message" style="float:left;width:55%;height:500px;background-color:white">
             {{ luckydoc }}
</textarea>-->
<!--<div style="float:right;width:40%;">
<p><strong>Is your similarity score above 0.7? Try to mask your writing by using different words. Suggestions for word choices are in parentheses to the left. 
</strong></p>
<p>More suggestions:</p>
<ul>
<li>Try to <strong>increase</strong> sentence length. Your message's sentences are xx.xx% longer than in your writing sample, and xx.xx% the average sentence.</li>
<li>Try to <strong>increase or decrease</strong> word length. Your words are about the same length as in your writing sample. Choose longer or shorter words.</li>
</ul>
</div>

</div>

<center><input type="submit" value="Try again" style="margin: 20px auto;clear:both"></center>
    </form>
-->
<p><strong>About this site</strong><br/>This analysis only considers the top 1,000 words used in English. Rare words (like many names) and multi-word expressions are not considered. <strong>Using Nondescript does not guarantee anonymity!</strong> Your texts are compared to a random assortment of web writing from the Blog Authorship Corpus, but these are writings from strangers &mdash; bear in mind that in a true investigation, your writing would be compared to those closest to you. <a href="about">More info&nbsp;&raquo;</a></p>

</body>
</html>